<%- layout('layout') -%>
<h1><%= title %> </h1>
<p>ID: <a href="<%= bookinstance.url %>"><%= bookinstance._id %> </a></p>

<p>Do you really want to delete this book instance?</p>

<form action=""
      method="POST">
    <div class="form-group">
        <input type="hidden"
               name="bookinstanceid"
               id="bookinstanceid"
               class="form-control"
               required
               value="<%= bookinstance._id %>">
    </div>
    <button type="submit" class="btn btn-primary">Delete</button>
</form>